body {
    background-color: #0439D9 }
    .nav {
        background-color: #F20732 ;
        list-style-type: none;
        text-align: left; 
        padding: 0;
        margin: 0;
      }
      li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .nav li {
        display: inline-block;
        font-size: 30px; color: #0D1440;
        padding: 3px;
      }
    .h2 li {
        font-size: 100px; color: #0D1440;
        padding: 3px;

    }
    body,h2 {font-family: "Raleway", sans-serif }

    .footer {
      background-color: #F20732;
      list-style-type: none;
      text-align: left; 
      padding: 0;
      margin: 0;
      }
  #AboutColor {
    background-color: whitesmoke;
        list-style-type: none;
        text-align: left; 
        padding: 0;
        margin: 0;

  }
  #ToUser {
    background-color: whitesmoke;
        list-style-type: none;
        text-align: left; 
        padding: 0;
        margin: 0;

  }
  #imgForUser {
    background-color: whitesmoke;
        list-style-type: none;
        text-align: left; 
        padding: 0;
        margin: 0;
  }
      
.text {
  float: left;
}
.imgfloat {
  float: right;
}
.imgfloatdown {
  ;
}